.App {
  text-align: center;
}

.logo {
  height: 150px;
  margin: 20px;
}

.dashboard {
  margin-top: 50px;
}

.btn-primary {
  padding: 10px 20px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-form input {
  margin: 10px 0;
}

.upload-form button {
  padding: 10px 20px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
