@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this in your CSS or tailwind.config.js file for custom background */
/*.hero-bg {
  background-image: url('./path-to-your-image.jpg');
  background-size: cover;
  background-position: center;
}*/
